[2017-06-22 17:17] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-22 17:35] #2 closed

[2017-06-24 11:48] perminder-klair opened #8 "remote-redux-devtools failing"
First of all, amazing project! Thank you!

I am getting this error when running project:
[code]

Fixed it by removing `port: 8000` in `composeWithDevTools` from `middleware.js` file.
Maybe will help someone with same issue.

[2017-06-24 13:11] Sly777 commented on #8
Hey @perminder-klair, Thanks for your advice! I fixed this on the new version.

[2017-06-24 13:11] #8 closed

[2017-07-01 14:14] Obooman opened #23 "Cannot find module 'figlet'"
Both `npm run setup` and `yarn run setup` cause this error.

macOS Sierra 10.12.5 (16F73)
[code]

error log
[code]
I have tried `npm install figlet` or `yarn add figlet`,they all work well.
run `yarn run setup` after run `yarn add figlet` the issue keeps on.

[2017-07-01 14:24] Sly777 commented on #23
Hey @Obooman ! Thanks for your issue. I checked but did you run ```npm install``` before that command? It looks like you didn't install dependencies.

[2017-07-02 07:13] Obooman commented on #23
Hi Ilker(nice dress😉),I have already run `yarn install` before run `yarn run setup` as README describe,100% sure,that's why it's strange.I'm showing all my commands and outputs below.

AND repeat it,`npm install figlet` single dependency goes well.

[code]

[2017-07-02 12:09] servermeta opened #24 "Why express and not Koa?"
Why express and not Koa, or Micro?

I vote koa because it uses promises, enabling deferred startup, e.g.: the server starts immediately, and eventually it will connect to the db.

[2017-07-02 14:19] Sly777 commented on #24
Hey @servermeta, Actually I used "express.js" because It's well-maintained and stable framework on "node.js". And also It's default one on "next.js" :) But the thing is that maybe we can create add-on system that developers can choose any framework that they want.

for example;
Developer runs ```npm run add-ons```
-> Choose add-on section
---> 1) Server frameworks <=
---> 2) Marketing
---> Exit

-

[2017-07-02 14:35] mehdijjz opened #25 "Cannot find module 'figlet'"
After a clean installation, I get this error when running `yarn run setup`:

`Error: Cannot find module 'figlet'
    at Function.Module._resolveFilename (module.js:485:15)
    at Function.Module._load (module.js:437:25)
    at Module.require (module.js:513:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/mehdijjz/Development/Projects/RAN/helper_scripts/CL_commands/__

[2017-07-02 15:11] Sly777 commented on #25
Hi @mehdijjz, Did you run ```yarn install``` before running that command? And also did you check devDependencies installed? When you run ```yarn run setup``` before ```yarn install```, It's giving ***cannot find module `figlet`*** error.

[2017-07-02 15:36] Sly777 commented on #23
Thanks for the error log, @Obooman! hmmm, the weird thing is I followed same steps on mac and Linux but I couldn't get the same error. I saw somehow It uninstalls "pre-commit" and "husky". Also **yarn** looks older version than mine. I'm using yarn **v0.24.6** so If it's possible, can you update yarn and try again?

[2017-07-02 18:47] mehdijjz commented on #25
yes of course I ran yarn install. I have tried yarn version 24.5 and 27.5 and it's not working in any of them. my node version is 8.1.2 and here is my error log

`➜  Projects git clone --depth=1 https://github.com/Sly777/ran.git RAN
Cloning into 'RAN'...
remote: Counting objects: 77, done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 77 (delta 4), reused 46 (delta 4), pack-reused

[2017-07-02 19:36] Sly777 commented on #23
Hey @Obooman, I found the bug on node.js v8. I don't know why It's uninstalling some packages on node.js v8. I will work on that.

[2017-07-02 19:36] Sly777 commented on #25
Hey @mehdijjz, I found the bug on node.js v8. I don't know why It's uninstalling some packages on node.js v8. I will work on that.

[2017-07-02 19:49] Sly777 commented on #23
Last Update 😄
I pushed hotfix for node.js v8 now. I tested on v8.1.3 and It works but can you also test it, please?

[2017-07-02 19:49] Sly777 commented on #25
Last Update 😄
I pushed hotfix for node.js v8 now. I tested on v8.1.3 and It works but can you also test it, please?

[2017-07-03 02:18] Obooman commented on #23
Hi,Have checked current `master` branch and it works weel,good job!

[2017-07-03 02:18] #23 closed

[2017-07-03 14:05] #25 closed

[2017-07-04 05:38] mehdijjz commented on #25
@Sly777 yeah great it works thanks !

[2017-07-08 10:39] SachaG opened #36 "What about using next-routes?"
I'm brand new to the Next.js world and I'm trying to see what packages everybody uses. I noticed you're not using [next-routes](https://github.com/fridays/next-routes) in this boilerplate.

I'm just curious to know if this is something you considered? Are there any downsides to using it?

[2017-07-12 06:49] ngocdiep opened #41 "Adding authentication"
It would be great if you can add the authentication to this project :) Do you schedule to do it?

[2017-07-12 08:07] astenmies commented on #41
Thx for putting this together Ilker. I've been trying to setup authentication, the user logs with no issue, but redux looses its state on page refresh. Any idea/example on how to solve this?

[2017-07-12 08:36] Sly777 commented on #36
Hey @SachaG, "next-routes" is way better than "next-url-prettifier" (also I contribute to next-routes 😆 ) But When I started to work on RAN!, "next-url-prettifier" was more suitable for all config of RAN!. I'm thinking about it but off course, contributions are warmly welcome! :)

[2017-07-12 08:37] SachaG commented on #36
OK, thanks! Just wanted to confirm :) I'm still learning Next but I'll try to contribute when I'm a bit more familiar with everything!

[2017-07-12 09:08] Sly777 commented on #41
Hey @ngocdiep, This is little bit tricky topic. I'm planning to add this but also I don't want to create "huge-messy-starter-kit" so That's why i cannot give the time for release but you can be sure that I will add this feature to RAN!. :)

Hi @astenmies, fast answer is http://dev.apollodata.com/react/auth.html :) Basically, you need to set your token to session token with ```persist.willSetAccess

[2017-07-12 11:15] Sly777 commented on #41
Also, links below can help to consider how to add auth system on RAN!.

https://github.com/zeit/next.js/issues/153
https://arunoda.me/blog/ssr-and-server-only-modules
https://dev-blog.apollodata.com/a-guide-to-authentication-in-graphql-e002a4039d1
http://dev.apollodata.com/react/auth.html

[2017-07-12 12:59] astenmies commented on #41
@Sly777 thx for your answer, I followed the same process...

Successfully setting the token (cfr console.log)

`.setItem(persist.ACCESS_TOKEN_KEY, value).then(console.log('ACCESS_TOKEN_KEY', value))`

But nothing gets out of the following:
[code]
Here's the crucial part of SignInFormContainer. Using redux-form.

[code]
Any advise? Am I missing something?
Thanks in advance

[2017-07-12 14:48] astenmies commented on #41
Oh boy, I finally got it working. Awesome... Shall I open a PR?

[2017-07-12 14:50] Sly777 commented on #41
It can be perfect! @astenmies :)

[2017-07-12 14:52] astenmies commented on #41
Alright, let me double-check on all this, remove the styling and stuff and I'll PR.

[2017-07-12 14:55] Sly777 commented on #41
cool! Also I was trying some stuff for auth so maybe we can add it to your PR after everything is okay.

[2017-07-13 06:46] sedubois opened #44 "RAN as NPM dependency"
Would there be any chance of releasing RAN as an NPM dependency usable in our projects similar to next.js? When cloning the project, we are importing all of the complexity into our own codebase, are left on our own for maintenance, and can't benefit from future updates made to this project.

Thanks for your time 🙂

[2017-07-13 08:36] Sly777 commented on #44
hey @sedubois! actually, there is. https://www.npmjs.com/package/ran-boilerplate

But honestly, I don't have any best practice for using boilerplate with NPM. So that's why I didn't indicate NPM link on "readme.md". If you know how to deal with it, contribute to documentation please :)

[2017-07-13 11:19] sedubois commented on #44
Thanks. I am not familiar with RAN yet, but I'd say what is needed first is to define some kind of API, similar to the way Next.js is imported in Javascript and how its binaries are accessed. Also need to ensure that the various config files such as .babelrc etc are properly picked up. But I'm really not a Node/JS guru so I'm not the best person to tell.

I just think it's worth spending time tryi

[2017-07-13 18:55] astenmies commented on #44
@sedubois @Sly777 I'm almost done with CL commands for adding authentication. Please approve or edit my authentication pull request in order to use it as CL template.

[2017-07-13 19:11] Sly777 commented on #41
--
I'm almost done with CL commands for adding authentication. Please approve or edit my authentication pull request in order to use it as CL template.
by @astenmies
--

I removed the comment that was on the wrong issue.

I'm on that. I guess, today I will finish my review. Also, I have some changes but we can finish them on your branch then we can merge with RAN.

[2017-07-13 20:08] astenmies commented on #41
Awesome! Man your CL is awesome, I really love it. I think I got a pretty cool/compact pattern here for auth CL commands, I'll wait for your commits first. Cheers

[2017-07-15 02:09] nmaro commented on #41
Hello everybody! Over the last months I created, and now refined

A generic user accounts library for node.js called ooth: https://github.com/nmaro/ooth
A starter library based on next and ooth together with a minimal boilerplate: https://github.com/nmaro/staart
It features:

Registration with email and password
Login with email or username and password
Account page where you can set your username

[2017-07-15 23:01] astenmies commented on #44
@sedubois I'm not quite sure I understand "is to define some kind of API, similar to the way Next.js is imported in Javascript and how its binaries are accessed" and your intentions with this.

I've been digging into RAN these last days and from my understanding it seems interesting to have it available as a global command line tool.

Create a predefined package.json, routes.js, server.js, index.j

[2017-07-16 05:43] sedubois commented on #44
Thanks, that documentation is quite helpful and I suggest to enrich the README with me. Seems much more helpful than the git clone version. However I guess should be `npm install -g ran-boilerplate` and not `ranx`? Anyway, I didn't manage to install either of them.

So the above comment concerns the binary itself, which you called `ranx`, and that's a good step in itself which I recommend to take

[2017-07-16 09:11] astenmies commented on #44
I suggest we create these features before editing the readme ;)

[2017-07-16 09:42] astenmies commented on #44
I used the name ranx for the example as I think -boilerplate is not appropriate if the npm package consists of basically a HOC (WithData) when installed locally and Command Line Tools if installed globally... Since a boilerplate ***is*** the thing you clone and need to manually maintain ;)

Shall we start with this?

[2017-07-16 12:11] sedubois commented on #44
I thought the published npm already did what you described. If that's not the case, yes what you described sounds good to me.

[2017-07-18 11:45] ooade opened #52 "A better description for RAN ???"
https://github.com/sindresorhus/awesome/pull/988#issuecomment-315893282

[2017-07-18 15:02] Sly777 commented on #44
Hey all @sedubois @astenmies, I really like your ideas, thanks for that :) I'm also considering to create boilerplate that you can control & change it from CLI (this is the main part of RAN) Also as I said on #24, I'm also planning to put **plugin** system that people can add/remove features easily to their systems.

I created roadmap for RAN v1 (https://github.com/Sly777/ran/projects/1)

Before t

[2017-07-18 15:19] Sly777 commented on #52
Thanks @ooade. I created PR on your repo https://github.com/unicodeveloper/awesome-nextjs/pull/15

[2017-07-18 15:24] sedubois opened #53 "Choice of GraphQL client and project naming"
Is the reasoning behind choosing Apollo as GraphQL client explained somewhere?

I guess Relay Modern is the obvious alternative, the only thing which isn't clear to me is its ability to support SSR, but should be feasible. [Ref](https://github.com/zeit/next.js/issues/1757#issuecomment-302443123), [ref](https://github.com/este/este/issues/1370#issue-238286079), [ref](https://github.com/este/este/bl

[2017-07-18 16:03] Sly777 commented on #53
Honestly, I read lots of stuff on Relay but I never use it on prod so I'm not sure to add it to ran. The reason for choosing Apollo was that It is good-documented, stable, easy-to-use and know how to deal with it. For the naming of ran, I just used "Apollo" word on it to create the word like "run" :)

But you right, maybe I should remove to show "apollo" on description to avoid to get mistake on m

[2017-07-18 16:57] #53 closed

[2017-07-21 23:56] #52 closed

[2017-07-22 21:28] Sly777 commented on #41
Hey all, I published new version! For more info: https://github.com/Sly777/ran/releases/tag/0.3.0

@ngocdiep @astenmies @nmaro

[2017-07-22 21:29] #41 closed

[2017-07-22 21:31] astenmies commented on #41
Great work @Sly777 , I learned things thanks to you and enjoyed the process. I'll join again for other things later on, as I'm having a child soon... Cheers

[2017-07-22 21:35] Sly777 commented on #41
🍾 🎆 🍾 🎆 🍾 🎆  @astenmies wow, such a happy news!!! Congratulations, mate!! 🍾 🎆 🍾 🎆 🍾 🎆 🍾 🎆

[2017-07-23 07:07] ngocdiep commented on #41
It's very very great news even today is the weekend!!  Best thanks for your effort to make it!!!

[2017-07-25 15:16] spences10 opened #65 "Thank you :heart:"
Thank you for this!

My team and I were about to start out on a GraphCool and Next.js project and here it is :ok_hand:

I'll be cloning it and taking a look later tonight there seems to have been a massive amount of work done already thank you so much :pray:

Apologies if this is not the place for thanks and feel free to close the issue.

Gratitude :gift: :raised_hands:

[2017-07-25 18:48] abattenburg commented on #65
Just wanted to echo how helpful this boilerplate has been. Thank you so much for putting all the work in and already updating!

[2017-07-26 13:43] Sly777 commented on #65
Hey @spences10 and @abattenburg,
Thanks so much for your positive comments. Honestly, It's precious for me on these days! I hope RAN can help your projects to get "better, faster, stronger." 😄

[2017-07-26 13:43] #65 closed

[2017-08-01 05:34] spences10 opened #70 "Project Schema Avaiable?"
Hey @Sly777 can you add the type only Schema so it's a straight forward map to another backend?

I tried to use `get-graphql-schema ENDPOINT_URL > schema.graphql` but there was so much information in there I found it hard to drill down to just the Type only information you'd need to create a `project.graphcool` file

[2017-08-01 12:05] spences10 opened #71 "Prettier config"
Hi @Sly777

Are there any config options available for using Prettier?

I had a look at `eslint-config-prettier` and couldn't see options for things like what I use for the VS Code extension **Prettier now**:

[code]

Also, there doesn't seem to be a clear way to 'Prettier'ify the code or if it is it's not clear on how. Any pointers greatly appreciated.

[2017-08-01 22:47] Sly777 commented on #70
Hey @spences10, I think it looks like not necessary on RAN for now. Because it can be different for each project so it will be not meaningful for other projects (because it depends on your graphQL data structure). I will close this issue now but If you have any different opinion or idea, please don't hesitate to write. :)

[2017-08-01 22:47] #70 closed

[2017-08-01 22:55] Sly777 commented on #71
Hey @spences10, RAN is using eslint + prettier integration for code standard. For this one, It's using ```eslint-plugin-prettier``` and ```eslint-config-prettier```. These one are using default setting of prettier which is below.

[code]

to fix the issue with prettier, you just need to run ```yarn run lint```. It will fix all stuff. Or you can use plugins on vs code or other code editors.

[2017-08-02 05:26] spences10 commented on #70
@Sly777 say for the user sign up/sign in which is already in the boilerplate, how am I meant to know what goes into the type for that without guessing?

I'd like to know what the types are for the existing functionality so I can build on what is already there without having to guess

[2017-08-02 15:48] #71 closed

[2017-08-05 06:18] spences10 opened #77 "Could we have the project.graphcool file please?"
Hi @Sly777

Is possible for us to have the `project.graphcool` file so we can make our own backend to reflect what you have already made here?

Using the `graphcool init --schema schema.graphql` using the provided schema here throws errors:

![image](https://user-images.githubusercontent.com/234708/28993420-d0918c42-79ad-11e7-884a-9fb6eff19c79.png)

I'm not sure if it's graphcool or the schema, ei

[2017-08-07 15:34] Sly777 commented on #36
Hey @SachaG, you can use RAN! with next-routes on the new version. :)

https://github.com/Sly777/ran/releases/tag/0.4.0

[2017-08-07 15:34] #36 closed

[2017-08-08 00:26] SachaG commented on #36
Really cool thanks!

[2017-08-08 16:34] Matterful opened #88 "Error: No available storage method found."
Hey there!
First off, thank you for putting this together. I've been struggling a bit attempting to get this whole set up working myself - so thank you!

I don't think this is an issue with your code, but I was wondering if you are experiencing the same problem. The issue has to do with user log in. The only thing I've really changed thus far is the graph.cool URL to my own as you suggested. (than

[2017-08-08 16:38] Sly777 commented on #88
Hey @Matterful, Thanks for your words :)

Which version of RAN are you using? You can see it from "package.json" if you don't change it. Or you can check meta tag of it. Also, can you write the error log that you get?

[2017-08-08 16:40] Sly777 commented on #77
Hey @spences10, I think I can close this task due to talked on slack.

[2017-08-08 16:40] #77 closed

[2017-08-08 17:34] Matterful commented on #88
Sorry about that. I am using RAN v0.3.1, so the version from a couple days ago. The error itself is happening silently in the background, and doesn't show up from regular logging. I first found it as I was chasing around the value of the token to see why the state wasn't getting updated. I added a console log into the reduxStore.js file just below the token variable definition on line 16. It looks

[2017-08-08 17:50] srghma opened #89 "Improvements"
What about:
1. type checker (flow, ts)?
2. babel-plugin-root-import (finnaly made it, was hard, [but only with fork](https://github.com/BjornMelgaard/ran/blob/root-import/package.json#L92), [info](https://github.com/olalonde/eslint-import-resolver-babel-root-import/pull/6#issuecomment-320973956))
3. better folder structure (this is interesting):
3.1 move code to app
3.2.1 it can be like in https:/

[2017-08-09 00:24] Sly777 opened #91 "Be ready for v1 :: Tasks"
## Be ready for v1 :: Tasks

- [ ] CLI Command to get updates after creating the project with RAN
- [ ] CLI Repo for creating app like ```create-react-app``` or ```react-native```
- [ ] Add [Flow](https://flow.org/en/) for type checker (if the file has flow flag)
- [ ] Add [Jest](https://facebook.github.io/jest/) for testing (if there is test folder)
- [ ] Plugin System
- [ ] Framework Selection b

[2017-08-09 00:28] Sly777 opened #92 "Add Flow for type checker (if the file has flow flag)"
Add Flow for type checker (if the file has flow flag)

https://flow.org/en/

#### Task rules
- It will use ```.flowconfig```
- If the file has ```flow (// @flow)``` flag, Flow will check it.
- Example pages need to get flow check

[2017-08-09 00:31] Sly777 opened #93 "Add Jest for testing (if there is test folder)"
Add Jest for testing (if there is test folder)

https://facebook.github.io/jest/

#### Task Rules
- If there is ```test``` folder on the root, Jest will run.
- Example pages need to get tests
- All settings should be inside of ```jest.config.js``` on root.

[2017-08-09 00:33] Sly777 opened #94 "CLI Command for removing page"
CLI Command for removing page

#### Task Rules
- It will remove the page from the page folder.
- It will remove also route of the page from ```routes.js```

[2017-08-09 00:33] Sly777 opened #95 "CLI Command for removing route"
CLI Command for removing route

#### Task Rules
- It will remove the route from ```routes.js```

[2017-08-09 00:35] Sly777 opened #96 "Doc updates for Packages and Architecture"
Doc updates for Packages and Architecture

#### Task Rules
- Doc updates for Packages and Architecture
- Packages Doc needs to have all small info of the packages that we use

[2017-08-09 00:40] Sly777 opened #97 "Logo for RAN!"
Logo for RAN! :)

Honestly, I have no experience on a design stuff so I need help on this.

[2017-08-09 00:45] Sly777 commented on #91
Hey all, I created issues (and update) for v1. So I'm warmly welcome for getting help on this stuff or/and getting suggests for v1 :)

@fyalavuz @BjornMelgaard @astenmies @sedubois @lewiscowper

[2017-08-09 00:53] Sly777 commented on #89
1 - Flow 👍
2 - I couldn't find what's the benefit of this.
3 - I think Folder structure is enough for all-size projects but possibly If you have any suggestions, We can talk about that :)
4 - Jest 👍
5 - I think It's not possible for now because of the next.js.

For some of your suggestions, I created issues each of them. I also tagged you so We can continue from there I think.

[2017-08-09 07:02] spences10 commented on #77
Hey @Sly777 it may be down to my lack of knowledge of GraphQL in general but we [two other team members and myself] have found this a real drain on our time trying to pick through and follow breadcrumbs on something that can be shared in a file [for Graphcool] and setup with one CLI call.

Currently, we can sign up and add a user to Graphcool backend but that's it, authentication is proving pretty

[2017-08-09 10:57] Sly777 commented on #77
Hey @spences10,

Honestly, I don't understand why you feel offended or get angry like this. Because I tried to help on slack and GitHub as well but Unfortunately, I'm not expert about the graphcool stuff so I cannot find the solution for the every problem on there. Even without expert knowledge of graphcool, I tried to help you how to figure it out. For the RAN! Problems/bugs/suggestions, I'm tryi

[2017-08-09 13:08] BjornMelgaard commented on #89
2. its convenient
5. why? examples are broken? O_O

[2017-08-09 13:31] spences10 commented on #77
@sly777 I'm frustrated, I'm not offended my friend.

I know it is hard to understand the tone of something in text so please don't misconstrue this as me being angry with you, or that I think you owe me anything, you don't, I know you know this already but I want to make it clear. I write this with the utmost respect and courtesy.

You have done some awesome work, I'm not detracting from that and

[2017-08-10 08:10] BjornMelgaard opened #102 "Token isnt saved between page reload"
maybe save it in cookie?

[2017-08-10 08:14] BjornMelgaard commented on #24
Why even bother yourself with different servers if its intent is only to render page, if you want api - make separate project

[2017-08-10 09:16] Sly777 commented on #102
I realized that yesterday, too. Right now, We are saving the data with ```dispatchers.signIn``` ```components/AuthFields/index.data.js:43``` so that means save is working but It's not working anymore after refreshing the page. We need to trigger the **checkToken** on every refresh (first load)

[2017-08-10 09:20] Sly777 commented on #88
Hey @Matterful , I'm still investigating this so I will write after found :)

[2017-08-10 10:19] BjornMelgaard commented on #102
as I know, localForage is intended to use in client-side, but we need token on server-side too, its better to use cookie

[2017-08-10 11:55] #102 closed

[2017-08-10 13:00] Sly777 commented on #88
Hey @Matterful , I fixed it and It's on the master branch now. Can you try it please?

[2017-08-10 14:32] Matterful commented on #88
Awesome! Thank you good sir. I will give it a shot when I get some time today and let you know how it goes :)

[2017-08-10 18:06] BjornMelgaard commented on #89
next team is working to support typescript https://github.com/zeit/next.js/pull/2250 https://github.com/zeit/next.js/issues/2391
maybe better wait and use typescript instead of flow, @Sly777 , what you think?

cool typescript lib https://github.com/typestyle/typestyle

[2017-08-10 21:30] GreatScot commented on #88
Hey @Sly777, I've been having the same bug.

Since you fixed it, I now see that the app state changes properly immediately after I create a new user, but if I log out, then I try to sign in again the state does not update (so I can't see the "LogOut" link in the menu for example). I can see that I get a valid token back in the response - it's just the app state doesn't update.

If more detailed in

[2017-08-11 04:01] Matterful commented on #88
Hello again!
Thank you again for working on this. I can confirm what GreatScot said. The sign up seems to work perfectly now, and logs you in correctly :) . But when just trying to sign in, the state doesn't seem to update.

[2017-08-11 06:22] BjornMelgaard commented on #88
@Matterful @GreatScot  fixed there https://github.com/Sly777/ran/pull/100

[2017-08-11 14:39] srghma opened #106 "Directory structure"
I suggest
[code]

1. If component is using data from apollo or redux - its container
2. Locate stores (reducers, actions,...) separately from components/containers ( `libraries/stores` or  `libraries/modules`)

@Sly777 you said you have some concerns

[2017-08-11 16:50] zinsai opened #107 "Error: Cannot find module 'webpack-bundle-analyzer'"
Hello, Deploy to Heroku is failing with

remote: Error: Cannot find module 'webpack-bundle-analyzer'
remote:     at Function.Module._resolveFilename (module.js:470:15)
remote:     at Function.Module._load (module.js:418:25)
remote:     at Module.require (module.js:498:17)
remote:     at require (internal/module.js:20:19)
remote:     at Object.<anonymous> (/tmp/build_65f4de2af172386a65e33f4f3fb3912

[2017-08-12 12:42] BjornMelgaard commented on #106
Also I dont like when components consist of
1. data.js - which export function `connect` which is wrapper that connect components to store or apollo
2. index.js - component actually and in the end `export default connect(Component)`

better
1. feature.js - component, not yet attached to data (also can split feature to feature(smart) and presentation(dumb))
2. index.js - import feature and attach i

[2017-08-14 20:12] spences10 opened #113 ".eslintrc formatting"
Quote formatting needs changing on `.eslintrc` singles instead of double:

https://github.com/Sly777/ran/blob/c91c9366fe35a84ff10e3697cb06d091014100fe/.eslintrc#L45-L46

Should be:

[code]

[2017-08-14 22:27] Sly777 commented on #113
@spences10, I fixed it on the beta branch. I will merge it tomorrow I guess.

[2017-08-15 08:31] #113 closed

[2017-08-15 08:32] Sly777 commented on #88
Hey @Matterful @GreatScot , I merged the changes now. It should work.

[2017-08-15 09:56] Sly777 commented on #107
hey @zinsai, I fixed this on the new version. Please check and if you have still problem, we can open the issue again :)

[2017-08-15 09:56] #107 closed

[2017-08-15 09:57] #88 closed

[2017-08-15 14:25] Matterful commented on #88
Thank you good sir!

[2017-08-16 06:50] GreatScot commented on #88
Thanks much - it's working now.

[2017-08-16 06:52] GreatScot opened #115 "create_page error"
Hi Ilker - I'm getting an error message trying to run the create:page command. The error only occurs when I try to add a different URL from the page name. Screenshot below. Think this is a bug.

![image](https://user-images.githubusercontent.com/24485025/29350767-badaeef4-8257-11e7-86b1-dfac9d9f40b7.png)

[2017-08-16 06:59] GreatScot opened #116 "New Page title"
Suggestion:

1. Remove " :: RAN! Example" from the new page template, to make the boilerplate more generalised. (page.hbs line 9)
2. Change the wording in the create_page helper script to read "Enter page title:" (create_page.js line 41). This (hopefully) makes it clearer to the user that they are choosing the `<title>`.

[2017-08-16 20:38] srghma opened #120 "bug, styled-comp, checksum was invalid on page reload"
What I do
1. yarn run dev
2. load page
3. reload page

Get error

[code]

related https://github.com/styled-components/babel-plugin-styled-components/issues/52

will look tomorrow

[2017-08-17 05:11] bliitzkrieg commented on #120
I'm also experiencing this issue - Update here with your finding if you can! :)

[2017-08-17 12:50] BjornMelgaard commented on #120
@bliitzkrieg can you create pull request with your solution to ran?

[2017-08-18 00:41] bliitzkrieg commented on #120
@BjornMelgaard I'm not using ran and my code is IP for my company but the fix for me was putting the `styled-components` stuff in both environments.

"next: "3.0.6",
"styled-components": "2.1.2",
"babel-plugin-styled-components": "1.1.7"

[code]

[2017-08-18 07:49] BjornMelgaard commented on #120
@bliitzkrieg hm, [didnt help](https://github.com/BjornMelgaard/ran/blob/styled-components-reload-fix/.babelrc), still error on reload, seems like you changed all `styled.extend` to `styled(Comp)` and with change in bablerc it helped, no?

[2017-08-18 09:25] BjornMelgaard commented on #120
https://github.com/styled-components/babel-plugin-styled-components/issues/79

[2017-08-18 19:35] bliitzkrieg commented on #120
I never used `styled.extend` in my application

[2017-08-20 13:29] BjornMelgaard commented on #77
@spences10  looking forward for documentation PR )

[2017-08-21 12:37] GreatScot opened #126 "Cached .gql files not reloading on change"
Hi, I am not totally sure whether this is a bug (or perhaps something is wrong with my config), but if I load up a component wrapped by Apollo, (which has the graphql code saved in a separate .gql file as this seems to the be the RAN convention at the moment), then the contents of that .gql file appear to be cached somewhere, and will never update again no matter what changes I make to the file (s

[2017-08-23 21:50] sheats opened #130 "Component executed twice?"
I'm a little new to react so forgive me if this is a dumb question.  I used your PostList component as an example and noticed it being executed twice.
I added:

[code]

Refreshed / and it prints twice in the server console as well as the browser console.  Is it supposed to do that?

[2017-08-25 16:16] Sly777 commented on #130
Hey @sheats,

I checked it and yes, it's a bug :) I don't know why but apollo-react is rendering the component two times. I was thinking that's because of the server rendering but It's not. If I find any answer, I will fix.

[2017-08-25 16:51] Sly777 commented on #115
Fixed on #136

[2017-08-25 16:51] Sly777 commented on #116
Fixed on #136

[2017-08-25 16:51] Sly777 commented on #126
Fixed on #136

[2017-08-25 21:35] #126 closed

[2017-08-25 21:35] #116 closed

[2017-08-25 21:35] #115 closed

[2017-08-26 00:01] Sly777 commented on #97
![onlinelogomaker-082617-0159-1619](https://user-images.githubusercontent.com/694940/29736531-6ab509e8-8a02-11e7-8e61-66e5ea4e29b8.png)

What do you think?? @BjornMelgaard @astenmies

[2017-08-26 05:40] BjornMelgaard commented on #97
I think it much better than my logo, which was made in first logo service found in google)

[2017-08-29 15:05] Sly777 commented on #97
#136

[2017-08-29 15:05] #97 closed

[2017-08-30 23:34] jackedgson commented on #77
I too would love there to be a simple dump of the contents in the `project.graphcool` file to help get up and running with the example app or a brief walkthrough of the Graphcool setup.

[2017-08-31 00:16] jackedgson commented on #70
Graphcool Project Schema for example project, pretty simple to create yourself:

[code]

[2017-08-31 00:17] jackedgson commented on #77
Graphcool Project Schema for example project, this is what is in the `project.graphcool` file:

[code]

[2017-08-31 02:19] Dialectician opened #144 "graphcool setup"
I was hoping you could share the data schema in SDL syntax, or offer another way to utilize the already integrated Graphcool schema

[2017-08-31 04:57] BjornMelgaard commented on #144
hi, @Dialectician , this is schema that I made and that works, the problem that I found with graphcool is that schemas is not shareable, this schema wont work if you copy-paste it to your graphcool cli

[code]

[2017-08-31 23:53] Dialectician commented on #144
The resolve may be found under [https://www.graph.cool/docs/faq/graphql-how-to-download-graphql-sdl-schema-maiv5eekan/](url)
# Download the schema from the server
graphql get-schema
This downloads a GraphQL schema in SDL syntax

[2017-09-03 13:20] Dialectician opened #148 "ZAvfgytfds"

[2017-09-03 16:00] #148 closed

[2017-09-03 20:33] sheats commented on #130
I think it might be related to https://github.com/zeit/next.js/issues/978

[2017-09-08 07:43] dalerka opened #153 "Search & Filtering [feature request]"
Hi, thanks for sharing this!
I'm new to Apollo and Graphcool and wonder if it would be possible to include a good example of implementing some complex search and filtering:
1) Search posts (in title and description) + search results page.
2) Filter posts by multiple criteria, e.g. get all posts where:
 "createdAt" is between Date_A and Date_B and
 have "tags" in [ tag1, tagt2, tagt3... ]  and
made

[2017-09-08 09:00] dalerka commented on #153
This tutorial shows how to do a [basic search](https://www.howtographql.com/react-apollo/7-filtering-searching-the-list-of-links)
Still not sure how to do Search AND filtering based on arbitrary number of filters.

[2017-09-08 09:30] dalerka opened #154 "Connection Indicator [feature request]"
Would be great to have a connection indicator in this boilerplate so users can be notified that they are offline (and let them know what is going to happen with their data).
I believe this is a nice feature and pretty common UX requirement for any interactive app.
But this will require implementing another feature like Notifications, i.e. flash messages generally used as confirmation of some actio

[2017-09-10 18:22] BjornMelgaard commented on #144
https://github.com/este/este/blob/master/data/project.graphcool

[2017-09-14 11:35] Sly777 commented on #154
Hey @dalerka, Thanks for your idea! It's possible to do this, I can think about this but All contributions are also welcome 😄

[2017-09-14 11:36] Sly777 commented on #153
Hey @dalerka, Thanks for your idea! This one is little bit tricky so That's why it will take time to finish but of course, All contributions are also welcome 😄

[2017-09-14 11:40] Sly777 commented on #144
Hi @Dialectician , I updated the schema. You can find the updated one on [libraries/graphql_schemas/schema.graphql](libraries/graphql_schemas/schema.graphql). Is it okay for you?

[2017-09-14 11:59] Sly777 commented on #144
And also @Dialectician @BjornMelgaard
I also added Graphcool Schema -> [/libraries/graphql_schemas/Graphcool-simplified.schema](https://github.com/Sly777/ran/blob/master/libraries/graphql_schemas/Graphcool-simplified.schema)

[2017-09-14 21:08] #144 closed

[2017-09-24 12:56] juan-manuel-alberro opened #175 "[Question] Secure pages based on token"
Hello all,

What will be best practice to secure a page that only can be shown if the user is logged in?
I can check the `auth` store but it won't work on SSR, any **example** or **idea** of how I can achieve this?

Thanks! :smile:

[2017-09-24 16:56] dalerka commented on #175
This might be helpful - https://github.com/estrada9166/server-authentication-next.js

[2017-09-24 23:22] Sly777 commented on #175
hey @juan-manuel-alberro, If you check (LinkList/index.js)[https://github.com/Sly777/ran/blob/master/components/LinkList/index.js], You can see how we use auth on RAN. Actually, It's really easy to use because You just need to send it from page file. And also it supports SSR. :)

[2017-09-25 22:48] #175 closed

[2017-10-02 20:11] theednaffattack opened #198 "An Issue with the Linter"
Hi,

I'm having difficulty running this in dev mode.  It's definitely something to do with ESLint, but I'm not sure how to address the issue it's highlighting.

In order to run properly I had to edit package.json to remove the linting, but that's not a long-term solution.

I'm still new to ESLint but I'm used to errors pointing to some kind of ruleset that I can look up online which will teach me

[2017-10-04 12:05] Sly777 commented on #198
hey @theednaffattack , It's fixed on latest version. Can you please test it again?

[2017-10-05 03:13] theednaffattack commented on #198
Thanks! That fixed it.

[2017-10-05 08:17] #198 closed

[2017-10-06 01:03] theednaffattack opened #207 "How does one add GraphQL to the server?"
I've tried adding graphiqlExpress to the server instance with no luck at all (code below). This usually gets the job done. Where have I gone wrong? Do I need to do something with the routes file?

[code]

[2017-10-06 12:24] Sly777 commented on #207
Actually if you run ```yarn run graphql:play```, you basically get the similar playground for graphql. If you even want to use graphiql, you need to add the use code inside of the ```./server.js```.

http://dev.apollodata.com/tools/graphql-server/graphiql.html#graphiqlExpress

[2017-10-06 15:34] theednaffattack commented on #207
Hm.

Unfortunately what you're linking to is what I'm trying. The code above is from my ./server.js but I can't add a graphql endpoint to it for some reason. That's why I was asking about the routing.

If I follow the guide below it doesn't add graphql to the stack.

http://dev.apollodata.com/tools/graphql-server/setup.html#graphqlExpress

Well, thanks for looking into this. I'll keep trying.

[2017-10-11 10:19] Sly777 commented on #207
@theednaffattack sorry for late answer I was really busy in these days. Can you show an example what you change or add? Normally it should work if you add your route on `server.js`. Doesn't matter it's third-party graphql service or integrated graphql server.

[2017-10-11 17:54] theednaffattack commented on #207
Don't apologize, these are very noob questions and there's only so far you can support folks.
My issue ended up being _when_ to add graphqlExpress to the server instance. In my case I needed to add it **before** helmet and the route designations get added. So that "fixed" it, totally.

Not that you asked but...
I'm pretty much trying to adapt the howtographql tutorial into RAN and then taking the

[2017-10-29 00:16] prateekrastogi opened #243 "Problem running setup:clean"
Hi,
Due to some commands like rm, path issues, and environment variables, _npm install && npm run setup:clean_ is not running properly on windows.
The error I am getting is:

Cleaning RAN! for preparing new project...
Installing dependencies... (This might take a while)

Initialising new repository...C:\Code\Starters\RAN\helper_scripts\CL_commands\__helpers.js:155
          if (_err) throw _err;

[2017-10-29 13:13] Sly777 commented on #243
Hey @prateekrastogi, Thanks for reporting the bug! I will work on this.

[2017-10-29 13:13] #207 closed

[2017-10-29 16:12] sw-yx commented on #207
ive done the howtographql too. honestly at this point graphql is too much effort for the limited benefits it brings

[2017-10-30 02:15] bearcanrun commented on #96
Would like to [add/suggest a tip](https://github.com/bearcanrun/ran/commit/b8b4be52daaf465d0aa42daff936be0fc69228ed#diff-797bdd6328a8f89e978804fbf93e24be) on environmental variables specific to deploying to Now.

[2017-10-30 09:59] Sly777 commented on #96
Hey @bearcanrun, Thanks for the update! Can you create the PR please? then I can approve in a sec.

[2017-10-30 11:23] Sly777 commented on #243
I fixed it on Beta branch. Can you try it please @prateekrastogi?

[2017-10-30 13:50] prateekrastogi commented on #243
Hi,
It's working perfectly fine now. Thanks. But, I want to point some issues in package.json which are still present. You need to use "cross-env" for setting environment variables as the current way is incompatible on windows. Also, you need to use "rimraf" instead of rm command in your package.json script.

[2017-10-30 14:40] Sly777 commented on #243
Yeah, I realized that @prateekrastogi :) Honestly I'm working on Unix systems so It's really possible to get the problem on windows. If it's possible, Can you make PR with your fixes, please? It can be a better solution I think.

[2017-10-31 01:41] bearcanrun commented on #93
I started to tackle this then realized I jumped the gun by adding Jest AND Enzyme. Before I go further in this direction, is using just Jest preferred? Adding Enzyme has a few more twists and is explained in the started documentation Testing.md that you can read in [my commit](https://github.com/bearcanrun/ran/commit/20c31dd41e535cc7c49f982c45511bc54064fd23).

[2017-10-31 03:42] jackedgson opened #249 "Multiple apollo mutations for component"
Just wondering if there was a good way to compose two mutations that are setup in the same way as the rest of the boilerplate.

Create job mutation:
[code]

Send email mutation:
[code]

This isn't right but its what I've done.
`export default comp => withSendMail(withCreateJob(withData(comp)));`

The problem is that the createJob mutation overwrites the sendMail mutation when doing it in this way

[2017-10-31 09:00] mulyoved commented on #93
I think yes, I prefer using Jest with [storyshots](https://github.com/storybooks/storybook/tree/master/addons/storyshots) and don't use Enzyme

[2017-10-31 12:34] #243 closed

[2017-10-31 12:42] Sly777 commented on #93
I think also Jest is enough for most of the scenarios. But if someone says the reason why it's should be, We can discuss. I'm not 100% sure.

[2017-10-31 16:35] bearcanrun commented on #93
We'll just go Jest then! Since getting Enzyme to work wasn't so straight forward, I'll add simple instructions for adding it in the docs.

[2017-10-31 23:54] Sly777 commented on #93
perfect! @bearcanrun

[2017-11-03 00:37] bearcanrun commented on #93
So... I've run into a problem. Running Jest in the jsdom test environment throws breaking errors as reported in [jsdom #1783](https://github.com/tmpvar/jsdom/issues/1783). Though it says for ubuntu, I'm on a mac pro and get the same thing. When I change the `testEnvironment` under Jest config in package.json to 'node', then no problems at all. I realize jsdom is the more ideal testing environment.

[2017-11-13 07:03] talensjr commented on #92
Hi @Sly777, I really like your project here, and I think (and will try) to help you with this issue, if no one else is already doing it. I guess I can make a pull request along this week.
Regards and keep this work going on!

[2017-11-13 11:21] Sly777 commented on #92
Hey @talensjr, Sure you can work on this! I'm working on another part of RAN so you are free to work  :)

[2017-11-13 11:22] #249 closed

[2017-11-14 00:13] Sly777 commented on #93
Hey @bearcanrun, sorry I was not able to check comments on RAN last couple days. Should I test it or did u fix it?

[2017-11-14 10:18] Sly777 opened #270 "Upgrade React Apollo (new apollo client structure)"
- Upgrade React Apollo (new Apollo client structure)

On Apollo v2, Most of the parts are changed and also They removed redux integration inside of it.

[2017-12-06 00:15] samueljim opened #295 "i can't run built code"
PS C:\Users\thesa\Documents\ia-jn> yarn run start
yarn run v1.1.0
$ cross-env NODE_ENV=production node ./node_modules/.bin/pm2 start server.js -i max --attach
C:\Users\thesa\Documents\ia-jn\node_modules\.bin\pm2:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.j

[2017-12-08 10:32] Sly777 commented on #295
Hey @samueljim, do you give information about your system such as node.js version, windows version, npm version, ran version,...etc?

[2017-12-09 09:34] samueljim commented on #295
Windows 10 - 16299
Node 8.9.1 ( i also used 6 and 8.4)
I used the latest version of ran that i pulled the same week as the post

[2017-12-14 07:58] aarondancer commented on #270
Something to note, they’ve remove Redux as the _default_ cache for Apollo. Redux (as well as other stores) can still be used with configuration.

[2017-12-19 17:35] Sly777 commented on #92
#319 is in progress

[2017-12-20 12:13] Seunghunsh opened #325 "Issues Deploying to Google Cloud Functions on Firebase."
I am trying to deploy Ran.js to google cloud functions on firebase. I followed this tutorial but I get 'internal server error'. Would appreciate your help!

hosting URL: https://next-js-react-wordpress.firebaseapp.com
Function URL (next): https://us-central1-next-js-react-wordpress.cloudfunctions.net/next

[2017-12-26 03:17] rrevanth opened #337 "setup failing running second time"
Hey,

yarn setup running fine the first time but when I try to clean the build to work on my own client.

I ran yarn setup:clean and ran in to this error.

 yarn setup:clean
yarn run v1.3.2
$ cross-env CLEANSETUP=true node ./helper_scripts/CL_commands/setup.js && npm run setup:after
module.js:557
    throw err;
    ^

Error: Cannot find module '/Users/jinx/Projects/Apps/graph-flame/client/helper_s

[2017-12-26 23:46] #337 closed

[2018-01-02 02:18] johhansantana commented on #295
I think you need to run `yarn build` before `yarn start`

[2018-01-02 02:21] johhansantana opened #342 "You guys have patreon?"
First of all, thank you for creating this awesome library.

I really want to contribute but I have no time at the moment, the only way I can think of is using patreon for helping keep this library alive.

Do you guys have planned on creating this or have some other donation options?

[2018-01-02 06:19] samueljim commented on #295
I have done that many times

[2018-01-02 18:32] Sly777 commented on #342
Hey @johhansantana!

Thanks so much to think like this. Honestly, I just opened it on open collective (https://opencollective.com/ran). I think Patreon is a little bit complicated for people who are living in non-US (Germany). Also, I'm really newbie on these patreon, open collective and similar websites :)

But I need to think detailed about this because I didn't do this to make money actually. S

[2018-01-02 18:33] Sly777 commented on #325
Hey @SeunghunSunmoonLee!

I never use it for firebase function, actually. So I need to test it first. If you find the way to work this while I try, It can be perfect to tell us how to do! I can add it to documentation.

[2018-01-03 14:08] johhansantana commented on #342
awesome! Happy new year as well and thank you for everything! Hopefully you can work things out with charity, that would be wonderful. Thank your time working on this! I'll be donating soon.

[2018-01-11 23:38] Sly777 commented on #342
thanks @johhansantana!

[2018-01-11 23:38] #342 closed

[2018-01-12 15:11] talensjr commented on #92
@Sly777 Hi! I commented on the issue, I think it's ready to merge now, but there is some failure with CI, should I have to do something?
Thanks!

[2018-01-16 22:32] talensjr opened #367 "Add .prettierrc file for prettier config"
Hi @Sly777 , as I saw that there is no .prettierrc file for holding the prettier config, I think it would be useful to add it. If you think that too, I can do it.

[2018-01-16 22:46] Sly777 commented on #367
It's in **beta** branch now :)

[2018-01-16 22:47] talensjr commented on #367
Great! Thanks!

[2018-01-21 00:57] #367 closed

[2018-01-21 00:57] #92 closed

[2018-01-23 07:43] lolcoolkat opened #379 "Warning: Prop `className` did not match."
Getting the following error in the console after running `yarn dev` and loading index page.

`Warning: Prop className did not match. Server: "sc-kfGgVZ XgANw" Client: "sc-kAzzGY iUwkLO"`

![html](https://image.prntscr.com/image/VluRIS0jR-SBZfQG_VdbgA.png)

Look's like the issue is either with styled-components or babel-plugin-styled-components.

Any ideas?

[2018-01-23 08:40] lolcoolkat commented on #270
Any update on this?

[2018-01-23 11:29] Sly777 commented on #379
Hey @lolcoolkat, The problem is related to Apollo I guess. It renders on server and client (two times in same call). We discussed this on #130. We can continue in there.

[2018-01-23 11:29] #379 closed

[2018-01-23 11:32] Sly777 commented on #130
I think it's possible to be fixed after updating the Apollo version.

[2018-01-23 16:37] Sly777 commented on #270
I'm planning to work on this in couple of weeks but PR's welcome :) @lolcoolkat

[2018-02-06 13:06] monotv opened #404 "How to debug this?"
A breakpoint I set a in the Developer Tools do not work, code just runs through. How do I debug this?

[2018-02-09 10:56] nmaro opened #408 "Proposal: use ooth for user identity management"
Hi there, I'm the developer of [ooth](https://github.com/nmaro/ooth), a modular user identity management system built on top of passport.js (which, famously, only handles the authentication part, but not the storage of user information part).

You have a nice starter here, but if people want to extend the login functionality with other strategies (e.g. facebook or google login) they are on their o

[2018-02-13 15:45] joshuaquek opened #414 "Showcase for Projects built with RAN"
It would be really cool to have a section below in the readme to showcase projects built with RAN, or at least maybe somewhere where people can add links to their projects that they've built with this framework! @

[2018-02-16 12:58] adekbadek opened #415 "can't resolve packages"
I'm on node `v8.4.0`, macOS `10.13.3`. After cloning the repo and running `yarn` the following error is thrown:

[code]

[2018-02-21 17:57] Sly777 commented on #415
hey @adekbadek, can you try again please? I updated packages and now It should work. I didn't get any problem with same conf.

[2018-02-21 17:59] Sly777 commented on #414
hey @joshuaquek, yeah it would be cool! :) I will add the section to the readme file. So If someone wants to add their project, They can show it in there.

[2018-02-21 18:02] Sly777 commented on #408
Hey @nmaro, It would be nice actually. The only thing is I don't want to add more library because It will gonna too much for basic project. But I'm preparing plugin system for RAN so theoretically, you can create plugin when it's ready. Unfortunately, I still need time to finish it.

[2018-02-21 18:05] Sly777 commented on #404
Hey @monotv, I think there is no problem on putting a breakpoint to debug the system. I tried it now on Chrome developer tools and It works. can you describe more detailed, please?

[2018-02-21 18:32] monotv commented on #404
@Sly777 forgot about this issue, got it working in VSCode now in the mean time :)

I can not remember the steps but I basically used this:

https://github.com/Microsoft/vscode-recipes/tree/master/Next-js

[2018-02-21 20:35] adekbadek commented on #415
Worked, but only after upgrading yarn to `v.1.3.2`

[2018-02-21 21:24] Sly777 commented on #404
perfect! :) So I closed this for now.

[2018-02-21 21:24] #404 closed

[2018-02-21 21:25] Sly777 commented on #415
aaah I see. I didn't see your yarn version :) thanks for the info @adekbadek

[2018-02-21 21:25] #415 closed

[2018-02-22 08:24] nmaro commented on #408
Sounds good, thanks

[2018-02-22 17:50] #408 closed

[2018-02-26 23:06] willopez commented on #270
@Sly777 looking forward to this PR, and thank you for your work.

[2018-03-07 06:25] joshuaquek commented on #414
Cool! that would be great!

Maybe if anyone has cool projects, they can post it here in this thread (for convenience), and then we can add it in to the Readme 😆!!

[2018-03-07 07:05] joshuaquek opened #444 "setup.js file gets deleted when I run `npm run setup` in the terminal"
When I run

`npm run setup`

this file (setup.js) disappears and automatically gets deleted for some odd reason:

./helper_scripts/CL_commands/setup.js

Is there a reason for this?

I am then unable to run `npm run setup` anymore after this happens.

[2018-03-07 07:06] joshuaquek commented on #444
This is the output I am getting in the console

[code]

[2018-03-13 01:12] jackedgson commented on #93
Any progress on the jest test integration?

[2018-03-21 07:50] guateandrew commented on #444
Same here. Any resolution?

[2018-03-29 07:07] mukulhase commented on #444
Same

[2018-04-05 12:50] Sly777 commented on #444
Hey all, I was really busy with my personal stuff so I couldn't check this. So basically, I was removing this file because after run one time, There is no need to run it again (on my theory). I removed it on **beta** channel so you can test it with that change. Also, what is the scenario of the reason to run setup again? @joshuaquek @gabadi @guateandrew @mukulhase

[2018-05-17 10:13] greenkeeper[bot] opened #484 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- Replaced the old Node.js version in your `.nvmrc` with the new one
- The engines config in 1 of your `package.json` files was updated to the new Node.js version

If you

[2018-05-22 13:54] #484 closed

[2018-06-12 11:53] nukinuki opened #506 "npm run setup or npm run setup:clean failed"
Step one: git clone
Step two: npm install
Step three: npm run setup:clean

[code]

MacOS
node v9.2.0
npm v6.1.0

[2018-06-23 10:25] unisqu opened #512 "The menu bar can look better and should be floating."
Can we have css or floating like this instead? Also, dont have to use new modules. just make a simple one that looks like below without adding additional overhead. Can it be done?
https://reactnavigation.org/docs/en/api-reference.html

[2018-06-23 15:18] CharlyJazz opened #513 "Travis CI build fail"
Why is Travis failing?

[2018-07-02 04:05] davidsanchez96 opened #516 "[SOLVED] Router expected '/' but got 'index' - build:static_export"
Hi!
I got this error Router expected '/' but got 'index' when deploying my app to static host after running yarn build:static_export

this is the actual next.config.js file
[code]

I solved the problem by changing the value of page key

[code]

[2018-07-16 10:45] jordan-jarolim commented on #506
Solved by
yarn --ignore-engines && yarn setup

[2018-07-16 21:03] Sly777 commented on #516
Hey @davidsanchez96 thanks for the fix! I pushed it now.

[2018-07-16 21:03] #516 closed

[2018-07-16 21:04] Sly777 commented on #506
It was about next.js and flow version conflict bug. (https://github.com/zeit/next.js/issues/4614) I fixed it on current version of RAN. To easy fix, please set `@babel/plugin-transform-flow-strip-types` package version to '7.0.0-beta.47'

[2018-07-16 21:05] #506 closed

[2018-07-16 21:06] Sly777 commented on #513
There was next.js & flow version conflict bug so that's why it was making fail for deploy. Now it works properly.

[2018-07-16 21:06] #513 closed

[2018-07-16 21:30] Sly777 commented on #512
hi @unisqu, I didn't understand your request and also link that you shared. Can you please give more information?

[2018-07-16 21:33] #106 closed

[2018-07-16 21:34] #89 closed

[2018-07-30 14:02] Sly777 commented on #512
I closed this issue because I didn't get any answer in 14 days.

[2018-07-30 14:02] #512 closed

[2018-08-27 06:38] ranleung commented on #270
hi, any update on this? :)

[2018-08-28 22:05] Enalmada commented on #130
I tried updating next.js/examples/with-apollo to the latest versions and the issue still seems to remain.  It would be awesome though if we could get RAN updated to the latest Apollo.  That could make it easier to bring in some experts to look into this further as they will probably insist on debugging the issue with the latest version.  Any chance someone who knows what they are doing could updat

[2018-08-28 22:28] Enalmada commented on #270
I am extremely grateful for @Sly77's contribution to the community.  As a new user, this template looks like an amazing place to start containing much that I need to learn about.  Please don't lose momentum on this amazing project.

[2018-08-28 23:34] Enalmada commented on #130
BTW, apparently this is the way it works.  I suspect this issue can be closed.
https://github.com/zeit/next.js/issues/5050#issuecomment-416771851

[2018-08-29 08:31] Sly777 commented on #130
Thanks all for help! on @Enalmada's comment, basically it says this is the feature of Apollo :) So I'm closing this issue.

[2018-08-29 08:31] #130 closed

[2018-08-29 08:33] Sly777 commented on #270
Hey @willopez & @Enalmada! Honestly, I couldn't continue on this issue because of my new job and other changes. It would be really nice if someone helps me on this :)

[2018-08-29 08:59] Sly777 commented on #414
I created the page on doc! :)

https://www.rantoolkit.com/docs/Built_with_ran.html

If someone wants to add their website to this list, please write here. Thanks!

[2018-08-29 16:40] Enalmada commented on #270
I totally know how that goes!  I hope that someone watching that has some apollo experience would be willing to give back to the community and do this upgrade.   I looked at the upgrade docs and they don't look too bad: https://www.apollographql.com/docs/apollo-server/v2/migration-two-dot.html
(I am currently just evaluating potential tech for upgrading our site and have not actually used any of t

[2018-09-09 06:37] Enalmada opened #543 "newer compression module"
Upgrade from compression to [shrink-ray-current](https://www.npmjs.com/package/shrink-ray-current).  This is a drop in replacement.

At the default level, Akamai found that brotli averages [20% faster and 10% smaller](https://blogs.akamai.com/2016/02/understanding-brotlis-potential.html) than older compression methods.     I just put it into the RAN example to test it out and it seems to work grea

[2018-09-09 06:48] Enalmada opened #544 "ReasonReact sample page"
[ReasonReact](https://reasonml.github.io/reason-react/) is probably the future of react.   Next.js has an [example](https://github.com/zeit/next.js/tree/canary/examples/with-reasonml) project for it.  It could benefit the community to have a single RAN page showing off some of the benefits (typesafe, immutable, reducers, etc built into language).  Easy to slowly migrate to Reason components ([link

[2018-09-09 06:56] Enalmada opened #545 "server.js contains some resolves that don't exist"
At the bottom of server.js, there are some paths like manifest.html, manifest.appcache, etc that don't resolve.  Perhaps they were constructs from older version of next.js?  I am totally new to what they might be so if those are there for a reason could you comment why/what we should be doing to benefit from them?

[2018-09-11 13:49] Sly777 commented on #543
Hey @Enalmada, I'm not sure about this for now because AFAIK nodejs will support this internal mode in the future so maybe we should wait that. WDYT?

[2018-09-11 13:58] Sly777 commented on #544
hmm, it's a really hard thing because I have no experience on Reason. Maybe we can write plugin system (I was talking about this on another issue: https://github.com/Sly777/ran/issues/24) that everyone can change the first structure of RAN with these plugins. So then someone can also prepare plugin of Reason for RAN :)

[2018-09-11 14:07] Sly777 commented on #270
I was working on this last weekend but I realized the biggest issue is the new local cache feature of Apollo. It doesn't fit redux well and I need to change the structure without redux which nobody wants I think :) I also tried to find redux plugins for this but there is no good option to integrate into RAN. So I stuck a little bit because of redux. I also thought maybe we can use something like t

[2018-09-11 14:14] Sly777 commented on #120
Hey all, It's fixed after some changes on "styled components" plugin and also the integration of new extend functionality of "styled components". I'm closing now. Please inform me if it still continues on your system.

[2018-09-11 14:14] #120 closed

[2018-09-11 16:50] Enalmada commented on #270
Experienced users will struggle emotionally with eliminating redux from their stack but based on my research it might be the right thing to do:

The new apollo is trying to intentionally and conveniently eliminate the cognitive and maintenance overhead of maintaining a separate local store ([link](https://blog.apollographql.com/the-future-of-state-management-dd410864cae2?_ga=2.142552882.1408500351

[2018-09-11 16:59] Enalmada commented on #544
I have been thinking about this a bit more and since ReasonReact is still evolving so rapidly, it might make sense to have a generic "Next Steps" page at the end of the documentation describing things that people could consider doing but the RAN template has chosen not to implement.  Something like the [roadmap](https://www.rantoolkit.com/docs/Roadmap.html) page but with community suggestions and

[2018-09-11 17:37] Enalmada commented on #543
Supporting the latest compression schemes is a perfect complement to the  "performance first" claim on the RAN homepage.  I think the only reason not to use shrink-ray-current is if you were aware of a better module that provided modern encodings.  I think you need to have a really compelling case to not default new users to the encoding used by the biggest sites in the world:

![image](https://us

[2018-09-11 21:20] Enalmada opened #548 "polyfill.io service"
I just watched a next.js tutorial that had some tips based on real world next.js production usage.  The author highly recommended putting this into the head to defer and potentially eliminate ever needing to worry about older browser support:  https://polyfill.io/v2/docs/

Interesting article that goes into some details: https://hackernoon.com/polyfills-everything-you-ever-wanted-to-know-or-maybe-

[2018-09-12 07:18] Enalmada commented on #548
Actually seems like next.js has something reasonable built in:
https://github.com/zeit/next.js/#browser-support

The polyfill.io service would be one option if you happen to want to support older browsers without any stress.  Something that would go in a extra documentation section perhaps.

[2018-09-12 07:18] #548 closed

[2018-09-18 17:58] Enalmada commented on #543
After researching about best practices of compression with node, I have changed my mind a bit on this.  While I believe that Akamai has proven that brotli at default levels is better for the web than gzip, there is evidence that node should not be the process doing any compression.  See point 3:
https://goldbergyoni.com/checklist-best-practice-of-node-js-in-production/

TL;DR a real proxy should b

[2018-10-31 15:23] #544 closed

[2018-10-31 15:23] #543 closed

[2018-12-28 16:48] noobling opened #600 "402 payment required... Repo no longer maintained?"
Visiting this link https://ran.now.sh/ gives us 402 payment required... is this repo no longer maintained?

[2019-01-01 11:26] noobling opened #601 "Is there a backend to this? [Question]"
Hello,

I am using your app to learn more about web technologies. I don't understand how authentication is done. It seems like it would require a backend. All I have is this GraphQL code to go off
[code]
Am I correct in assuming that the backend will execute the authentication code when this query is posted to the graph cool end point?

Thanks!

[2019-01-03 09:59] Sly777 commented on #600
Hmm. It's weird because ZEIT was sponsoring the website before, They changed something I think. Sorry about that, I will check it. @noobling

[2019-01-03 10:00] Sly777 commented on #601
Normally It uses graphql mutation function for user login so It needs to have (with most of third-party graphql services have this). If you are using your own graphql, Please create signinUser mutation function on your server side. @noobling

[2019-01-03 10:01] #270 closed

[2019-01-03 10:19] Sly777 commented on #600
It's fixed after new deploy :)

[2019-01-03 10:19] #600 closed

[2019-01-04 13:41] noobling commented on #601
So authentication is handled by Graph Cool in this case?

[2019-01-04 13:45] Sly777 commented on #601
@noobling on this example, yep

[2019-01-05 03:01] noobling commented on #601
Thanks!

[2019-01-05 03:01] #601 closed

[2019-01-18 11:04] manhhailua opened #613 "Integrate React-Intl?"
RAN with multilang support. Why not?

[2019-01-26 23:06] gufranmirza commented on #154
created pull request https://github.com/Sly777/ran/pull/615

[2019-02-21 06:35] galago opened #626 "Next.js 8"
Are you guys gonna upgrade to Next.js 8? With serverless capabilities?

https://nextjs.org/blog/next-8

[2019-03-07 13:36] kkshyu opened #631 "being logged out after refreshing"
the cookie `access_token` will be cleared after refreshing the page. after shooting the problem, the main cause is that reduxStore will check the `tokenInStore` and decide sign in or sign out.

for the following lines, i think it should check and dispatch `tokenInStore` instead of `token`.
https://github.com/Sly777/ran/blob/bc73ff6219c37c909102a5f980807d50d4a087cd/libraries/reduxStore.js#L24-L32

[2019-03-14 05:57] j209 opened #633 "Prisma support"
Hi
What about using [prisma](https://github.com/prisma/prisma) in ran framework?

[2019-04-14 17:25] 10111DG opened #639 "Cannot convert object to primitive value"
Hello!

After clean Setup "**yarn && yarn setup:clean**"
i started  **yarn dev**  and i got a  Compiled successfully in 2482ms ..

But if i open in Browser the Project i got this error:

    at String.concat (<anonymous>)
    at dump (/home/mondoshawan/Projects/digitalgeneralist/RAN/.next/server/static/development/pages/index.js:448:35)
    at /home/mondoshawan/Projects/digitalgeneralist/RAN/.next

[2019-04-26 09:15] anhntbk08 opened #642 "Can't import scss file"
I can't import scss file although there is a configuration in next.config.js for supporting css|scss .

**System information**
Macos : 10.13.6
nodejs: v8.11.3

**Error**
`window is not defined
ReferenceError: window is not defined
    at /Users/apple/Documents/projects/xkld-collections/mak90/.next/server/static/development/pages/index.js:1714:2
    at /Users/apple/Documents/projects/xkld-collectio

[2019-04-26 09:28] #642 closed

[2019-05-13 15:55] maihungdev commented on #639
Upgrade react version !

[2019-05-15 06:20] anhntbk08 opened #646 "Can't deploy ran project to now"
I checked out the project then try to deploy to now but not succeeded. As default the repo doesn't have now.json, i added one and try to deploy, this is the error with next 7.x

`
/tmp/6b26f612/node_modules/next/dist/client/link.js:2
                          import { resolve, format, parse } from 'url';

                          SyntaxError: Unexpected token import

[2019-05-28 03:43] nguyenxuanvinh55th2 opened #650 "Cannot run IE browser"
the site https://now.ran.sh cannot run in IE browser

[2019-06-12 05:07] ruucm commented on #639
same here

[2019-06-22 16:44] prKassad commented on #639
+1

[2019-10-04 01:00] kevincastejon commented on #639
same here

[2020-01-24 18:19] brillout opened #663 "Wildcard instead of GraphQL?"
Hi @Sly777!

I'm curious, what do you think of using [Wildcard API](https://github.com/reframejs/wildcard-api#readme) instead of GraphQL?

As far as I can tell, Wildcard would be a better fit. What do you think?

[2020-08-17 02:07] mrsteele opened #671 "now.sh website is down due to deprecation of 1.0 deployments"
https://ran.now.sh/
![Capture](https://user-images.githubusercontent.com/5257284/90351003-dd954c80-e00c-11ea-8e25-0441715c2179.PNG)

[2021-01-10 10:29] Vadorequest commented on #671
It should be simple enough to deploy it to ran.vercel.app, a simple re-deploy should suffice.

[2021-01-10 10:30] Vadorequest commented on #414
https://www.rantoolkit.com/docs/Built_with_ran.html is broken 😕

[2021-03-02 23:29] Sly777 opened #677 "New version is coming with full update :)"
The new version is coming with a full update that you want to use RAN always, not only for boilerplates :) stay tuned!

[2021-06-06 16:05] PaRoxUs commented on #677
Any progress with this?

[2021-06-07 09:47] Sly777 commented on #677
Hey @PaRoxUs we will release the beta version of that this month :) we prepared the core part but still polishing some stuff.

[2021-06-07 14:49] KangAbbad commented on #677
Cannot wait 🙌

[2021-06-23 15:39] surajsharma commented on #677
any progress?

[2021-07-09 19:50] dotphpgift commented on #677
any update?

[2021-07-14 15:37] itsdashy commented on #677
ooh this would be good. Looking forward to it!

[2021-12-12 19:12] andyandrwew opened #696 "Error on Clean Setup"
I changed this line to:
`out += `${key}:${JSON.stringify(obj[key])}\n`;`
and it worked for me.
Below is the result
<img width="779" alt="Screen Shot 2021-12-12 at 2 13 15 PM" src="https://user-images.githubusercontent.com/29417599/145726141-131022c9-2785-4cd5-b75e-86c3315622db.png">

to fixed the 'Cannot convert object to primitive value' error I was having.

I am also new and did not want to prop

[2022-02-22 08:08] AnatolyChesnokov commented on #677
Hi @Sly777 any news of upcoming release?

[2022-06-07 07:07] itsbrex commented on #677
Hopefully you're ok. 🫥🙏🤔